<div class="menuPpal" ng-include='"templates/header.html"'></div>
<div ng-include='"templates/menu.html"'></div>

<section id="main-content" ng-controller="controladorInicio">
    <section class="wrapper" >
        <div class="spinner center" ng-show="cargaPagina"><img src="images/ico_preload.gif"></div>
   <div class="row">
  		<div class="col-sm-6 col-md-3">
   				 <a href="#bandejaPacientes" class="thumbnail">
      				<img src="images/pacientesIcon.png" alt="..." height="300" width="300">
      				 <h3 class="text-center">Pacientes</h3>
    			</a>
  		</div>

  		<div class="col-sm-6 col-md-3">
   				 <a href="#" class="thumbnail">
      				<img src="images/consulta.png" alt="..." height="300" width="300" >
      				 <h3 class="text-center">Consultas</h3>
    			</a>
  		</div>

  		<div class="col-sm-6 col-md-3">
   				 <a href="#" class="thumbnail">
      				<img src="images/citas.png" alt="..." height="300" width="300">
      				 <h3 class="text-center">Citas</h3>
    			</a>
  		</div>

  		<div class="col-sm-6 col-md-3">
   				 <a href="#" class="thumbnail">
      				<img src="images/expedienteMedico.png" alt="..." height="300" width="300">
      				 <h3 class="text-center">Expedientes Médicos</h3>
    			</a>
  		</div>

  
		</div>
    </section>
</section>

