 <div class="container body-content">
<div class="row border" ng-show="filterBar">
<table>
		<tr>
			<td class="icon tCenter" ng-class="color" style="height: 28px; text-align: center; font-weight: bold; font-size: 14px; background-color: #4fba6f;"><img
				src="images/icns/filtro.svg" alt="nombre" class="svg"></td>
			<td class="text"><input type="text" class="inpuText"
				ng-model="infoFiltrar" ng-change="filtrar()"
				placeholder="Filtro búsqueda" /></td>
		</tr>
	</table>
</div>
<br ng-show="filterBar">
<div ng-show="pagedItems.length > 0">
<!-- 	<br> -->
	<div class="row" style="overflow-x: scroll; overflow-y: hidden;">
		<table class="table table-bordered table-hover table-responsive">
			<tbody>
				 <thead>
				<tr ng-class="color" style="height: 28px; text-align: center; font-weight: bold; font-size: 14px">
					<td nowrap ng-repeat="column in columnsInfo" ng-click="sort(column.key);">
						{{column.title}}&nbsp <img src="images/icns/sort.svg" class="svgSmall">
					</td>
					<td ng-if="showDetails!=undefined" nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Detalle</td>
					<td ng-if="showReport!=undefined"  nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Reporte</td>
					<td ng-if="showInstruccion!=undefined" nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Hoja de Instrucción</td>
					<td ng-if="lock != undefined"  nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Bloquear</td>
					<td ng-if="unlock != undefined"  nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Desbloquear</td>
					<td ng-if="cancel != undefined"  nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Cancelar</td>
					<td ng-if="detail != undefined"  class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Detalle Operación</td>
					<td ng-if="binnacle != undefined"  nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Bitácora</td>
					<td ng-if="uploadFile !== undefined && downloadFile !== undefined"  nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Archivos</td>
					<td ng-if="updateSaldos != undefined"  nowrap class='inner' style="border: 1px solid #BDBDBD; padding: 3px">Saldos</td>
				</tr>
				</thead>
				<tr style="height: 26px; text-align: center; font-size: 11px"
					ng-repeat="row in pagedItems[pagActual-1] | orderBy:valor:orden"
					ng-class="{selected: row.$$hashKey === selected}"
					ng-click="setSelected(row.$$hashKey, row);">
					<td ng-repeat="column in columnsInfo" nowrap style="border: 1px solid #BDBDBD; text-align: center; padding: 4px; max-width:200px;white-space: nowrap;overflow:hidden">
						<span ng-style="row[column.key]">
						{{(column.personalized !== undefined && column.personalized === true) ?  presonalizedData(row,column) : row[column.key]}}
						</span>
					</td>				
					<td ng-if="showDetails!=undefined" class="liga" style="border: 1px solid #BDBDBD;" ng-click="setSelected(row.$$hashKey, row);showDetails(row)">
						<span ng-include="'images/icns/directivaVer.svg'"></span>
					</td>		
					<td ng-if="showReport!=undefined" class="liga" style="border: 1px solid #BDBDBD;" ng-click="setSelected(row.$$hashKey, row);showReport(row)">
						<span ng-include="'images/icns/directivaPdf.svg'"></span>
					</td>
					<td ng-if="showInstruccion!=undefined" class="liga" style="border: 1px solid #BDBDBD;" ng-click="setSelected(row.$$hashKey, row);showInstruccion(row)">
						<span ng-include="'images/icns/directivaPdf.svg'"></span>
					</td>
					<td ng-if="lock!=undefined" class="liga" style="border: 1px solid #BDBDBD;" ng-click="setSelected(row.$$hashKey, row); lock(row)">
						<span ng-include="'images/icns/directivaLock.svg'"></span>
					</td>
					<td ng-if="unlock!=undefined" class="liga" style="border: 1px solid #BDBDBD;" ng-click="setSelected(row.$$hashKey, row); unlock(row)">
						<span ng-include="'images/icns/directivaUnlock.svg'"></span>
					</td>
					<td ng-if="cancel!=undefined" class="liga" style="border: 1px solid #BDBDBD;" ng-click="setSelected(row.$$hashKey, row); cancel(row)">
						<span ng-include="'images/icns/directivaCancel.svg'"></span>
					</td>
					<td ng-if="detail!=undefined" class="liga" style="border: 1px solid #BDBDBD;" ng-click="setSelected(row.$$hashKey, row); detail(row)">
						<span ng-include="'images/icns/directivaDetalleOp.svg'"></span>
					</td>
					<td ng-if="binnacle!=undefined" class="liga" style="border: 1px solid #BDBDBD;" ng-click="setSelected(row.$$hashKey, row); binnacle(row)">
						<span ng-include="'images/icns/directivaBitacora.svg'"></span>
					</td>
					<td ng-if="uploadFile !== undefined && downloadFile !== undefined" class="liga" style="border: 1px solid #BDBDBD;">
						<table><tr>
							<td ng-click="uploadFile(row)">
								<span ng-include="'images/icns/directivaUpload.svg'"></span>
							</td>
							<td ng-click="downloadFile(row)">
								<span ng-include="'images/icns/directivaDownload.svg'"></span>
							</td>
						</tr></table>
					</td>
					<td ng-if="updateSaldos!=undefined" class="liga" style="border: 1px solid #BDBDBD;">
						<span ng-if="row.estatusActualizaSaldos==0" ng-include="'images/icns/directivaBitacora.svg'" ></span>
						<span ng-if="row.estatusActualizaSaldos==1" ng-include="'images/icns/directivaDetalleOp.svg'" ng-click="setSelected(row.$$hashKey, row); updateSaldos(row)"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row tRight" ng-show="pagination">
	<table>
		<tbody>
			<tr ng-class="color"
				style="height: 25px; text-align: center; font-weight: bold; font-size: 12px">
				<td nowrap width="140px" class='inner' style="padding: 2px">Resultados
					por página</td>
				<td class='inner'><input size="2" ng-model="itemsPerPage" validar-numeros/></td>
				<td ng-click="groupToPages();" class='inner' style="padding: 3px"><img
					src="images/icns/loop.svg" class="svgMediumConsultorio"></td>
				<td width="20px" class='inner'></td>
				<td ng-click="first();" class='inner' style="padding: 2px"><img
					src="images/icns/izqIcon.svg" class="svgMediumConsultorio"></td>
				<td ng-click="prev();" class='inner' style="padding: 2px"><img
					src="images/icns/izqIconMin.svg" class="svgMedium"></td>
				<td class='inner'><input size="1" ng-model="pagActual" /></td>
				<td ng-click="next();" class='inner' style="padding: 2px"><img
					src="images/icns/derIconMin.svg" class="svgMedium"></td>
				<td ng-click="last();" class='inner' style="padding: 2px"><img
					src="images/icns/derIcon.svg" class="svgMediumConsultorio"></td>
				<td width="20px" class='inner'></td>
				<td nowrap class='inner' style="padding: 2px">Página
					{{pagActual}} de {{pagMax}}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<!-- un espacio -->