<aside ng-controller="menuControlador">
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent" ng-class="navClass('inicio',true)">
                        <i class="fa fa-cube"></i>
                        <span>Menú</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub" ng-style="{display:expand('inicio')}">
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="#listado">Mi Componente</a></li>
                        <li><a href="#pedido">Relizar Pedido</a></li>
                    </ul>
                 
                    


                </li>
            </ul>
        </div>
    </div>
</aside>