
<div class="menuPpal" ng-include='"templates/header.html"'></div>
<div ng-include='"templates/menu.html"'></div>

<section id="main-content" ng-controller="controladorBandejaPacientes">
   <section class="wrapper" >
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          <div class="spinner center" ng-show="loading"><img src="images/ico_preload.gif"></div> 





     <div class="container body-content">
        <div class="encabezado">
            <div class="row">
              <div class="col-md-6">
                  <h1><i class="fa fa-users"></i>Bandeja Pacientes</h1>
                </div>
              </div>
          </div>
        
                    </div>
                    


    <div grid-generico columns-info="tableInfo" data="pacientes"  init="iniciarTabla" 
        selected-row="lineaSeleccionada" "></div>


    

</section>
</section>