
<div class="menuPpal" ng-include='"templates/header.html"'></div>
<div ng-include='"templates/menu.html"'></div>

  <section id="main-content" ng-controller="controladorPaciente">

   
    <h2>hola  </h2>
  
     
  <!-- Content here -->
</section>

